.image-block {
    
    display: inline-block;
    
    }

.answer-block {
  background-color: rgb(169, 198, 223);
  margin: 'auto';
  width: '300px' ;

}

.button-holder {
  width: auto;
  font-size: 10px;
}

.game-button {
  width: auto;
  text-align: center;
  line-height: 1px;
}