.image-block {
    
    display: inline-block;
    
    }

.answer-block {
  background-color: rgb(169, 198, 223);
  margin: 'auto';
  width: '300px' ;

}
  
.textAboutKeypress {
  color: 'blue';
  font-size: '10px';
  margin: 0;
  line-height: '12px'
}