/* CSS for landing page, e.g. DogsList, AboutGame etc. */

.dogslist-container {
    background-color: #b7e48d;
    max-width: 230px;
    padding: 15px;
    margin: auto;
    margin-top: 25px;
    margin-left: 260px;
    border: 2px solid #8cb962;
    border-radius: 60px;
    justify-content: center;
}

.dogslist-header {
    margin-left: 5px;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
    font-size: 60px;
}

.dogslist-subheader {
    font-family: 'Exo 2', sans-serif;
    font-size: 15px;
    margin-top: -20px;
}

ul {
    line-height: 30px;
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    list-style: none;
}

li {
    margin-left: -38px;
}

a {
    text-decoration: none;
    color: rgb(36, 36, 36);
}


@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo+2');

.game-link {
  color: #8cb962;
}

.game-link:hover {
  color: #ffffff;
}

.about-container {
  background-color: #b7e48d;
  max-width: 650px;
  padding: 15px;
  margin: auto;
  height: 500px;
  border: 2px solid #8cb962;
  border-radius: 60px;
  justify-content: center;
  margin-left: 70px;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

