html {
  background-image: url(https://images.fineartamerica.com/images-medium-large-5/dog-paw-cat-paw-puppy-kitten-vector-seamless-pattern-wallpaper-background-cnuisin.jpg)
}

.App {
  margin: 0 auto;
  position: relative;
  text-align: center;
  min-height: 949px;
  background-color: rgba(255, 255, 255, 0.8);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.buttonHolder {
  display: inline-block;
  
}

h1 {
  font-family: 'Just Another Hand', cursive;
  color: rgb(77, 149, 83);
  letter-spacing: 5px;
  font-size: 60px;
}

label, p, a {
  line-height: 30px;
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
}

a:hover{
  color: #ffffff;
}

button {
  width: 150px;
  height: 80px;
  background-color: rgb(87, 218, 152);
  border-radius: 80px;
  border: 1px solid rgb(77, 149, 83);
  padding: 20px;
  margin: 15px;
  margin-top: 20px;
  outline: none;
}

button:hover {
  color: #ffffff;
  background-color: rgb(97, 199, 230);
  border: 1px solid rgb(24, 104, 104);
}

/* button:active {
  color: #ffffff;
  background-color: rgb(97, 199, 230);
  border: 1px solid rgb(24, 104, 104);
}

button:focus {
  color: #ffffff;
  background-color: rgb(97, 199, 230);
  border: 1px solid rgb(24, 104, 104);
} */




button.home {
  color: #ffffff;
  background-color: #282c34;
}

button.home:hover {
  color: #282c34;
  background-color: #ffffff;
}

.rightName {
  color: rgb(97, 199, 230);
}

