html {
  background-image: url(https://images.fineartamerica.com/images-medium-large-5/dog-paw-cat-paw-puppy-kitten-vector-seamless-pattern-wallpaper-background-cnuisin.jpg);
  padding: 50px;
}

.App {
  margin: 0 auto;
  position: relative;
  text-align: center;
  min-height: 949px;
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 980px;
  display: flex;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  color: rgb(77, 149, 83);
  letter-spacing: 2px;
  font-size: 40px;
}

h3 {
  font-weight: 300;
}

label, p, a {
  line-height: 30px;
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
}

a:hover{
  color: #ffffff;
}

.buttons-container {
  margin-left: -30px;
  background-color: rgb(216, 216, 216);
  width: 170px;
  height: 300px;
  border-radius: 40px;
  border: 2px solid rgba(138, 138, 138, 0.301)
}

button {
  width: 120px;
  height: 50px;
  background-color: rgb(87, 218, 152);
  border-radius: 80px;
  border: 1px solid rgb(77, 149, 83);
  padding: 15px;
  margin: 0px;
  margin-top: 20px;
  outline: none;
  font-size: 15px;
}

button:hover {
  color: #ffffff;
  background-color: rgb(97, 199, 230);
  border: 1px solid rgb(24, 104, 104);
}

button.home {
  color: #ffffff;
  background-color: #282c34;
  
}

button.home:hover {
  color: #282c34;
  background-color: #ffffff;
}

.rightName {
  color: rgb(97, 199, 230);
}

@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');